.loginCard,
.dashboard-styling,
.cardStyling {
    box-shadow: 8px 5px 12px 1px rgba(0, 0, 0, 0.22);
}

.backToDash-styling {
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.backToDash-styling:hover {
    color: orangered;
}

.detailsButton,
.detailsButton:hover,
.newClient-link,
.newClient-link:hover,
.nav-link,
.navbar-collapse,
.btn-group-styling {
    transition: all 0.3s ease-in-out;
}

.nav-link {
    display: inline-block;
}

.nav-link:hover {
    color: #fff !important;
    transition: all 0.3s ease-in-out;
}

.clientPhone {
    transition: all 0.3s ease-in-out;
}

.clientPhone:hover {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: orangered;
}

@media screen and (max-width: 575px) {
    .table-responsive {
        display: inline-block;
    }
    .totalOwed-breakpoint {
        text-align: left !important;
    }

    .balanceAmount {
        margin-top: 5px;
    }
}

@media screen and (min-width: 576px) {
    .table-responsive {
        display: inline-table;
    }
}

@media screen and (max-width: 768px) {
    .newClient-link {
        margin: 15px 0 15px 0;
    }

    .clientID {
        font-size: 1rem;
    }
}

@media screen and (min-width: 769px) {
    .newClient-link {
        width: 125%;
    }
}
